@charset "utf-8";

body {
    background: #eeeeee;
    font-family: Meiryo;
  }

  div {
    background: #ffffff;
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 1px solid #cccccc;
    margin: 30px auto;
  }